html {
  background-color: hotpink;
}

@keyframes spinSpinBaby {
  0%   { background-position: 0  0;      }

  100% { background-position: 0 -2964px; }
}

.spinner {
  width: 156px;
  height: 156px;
  background-image: url(../../images/spinner.png);
  background-repeat: no-repeat;
  animation-name: spinSpinBaby;
  animation-duration: 700ms;
  animation-iteration-count: infinite;

  /* The trick!! */
  animation-timing-function: steps(19);
}
