body { background-color: pink; }

@keyframes spin {
  0% {
    background-position: 0 0;
    transform: rotate(0) scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    background-position: 0 -2964px;
    transform: rotate(45deg) scale(1);
  }
}

.spinner {
  margin: 100px auto;
  width: 156px;
  height: 156px;

  background-image: url(../images/spinner.png);
  background-repeat: no-repeat;

  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(19);
}
