/* I'm positioned.css */
body > header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 2px solid #000;
  height: 4em;
}

body > header h1 {
  padding: 5px 10px;
}

body > header nav {
  position: absolute;
  top: 0;
  right: 1em;
}

body > header li {
  display: inline;
  line-height: 2em;
}

.container {
  margin-top: 4.5em;
  margin-bottom: 12em;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-top: 2px solid #000;
}
