/* Blocks Playground */

/* Highlight the first word in paragraphs to keep track of them */
p .first-word {
  font-weight: bold;
}

/* Help the footer stand out */
footer {
  font-size: 1.2em;
  font-weight: bold;
}


/* Playing with left floating: */
/*
img {
  display: none;
}

main:after {
  content: " ";
  clear: both;
  display: table;
}

main p {
  float: left;
  width: 33%;
  padding: 5px;
  box-sizing: border-box;
}
*/

/* Playing with floating right: */
/*
img {
  display: none;
}

main p {
  width: 20%;
}

main p:nth-of-type(3) {
  width: 60%;
}

main p:nth-of-type(1),
main p:nth-of-type(3) {
  float: left;
}

main p:nth-of-type(2) {
  float: right;
}
*/

/* Playing with media queries for RWD: */
/*
img { max-width: 100%; }

@media (min-width: 600px) {
  p {
    float: left;
    width: 50%;
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  p {
    float: left;
    width: 33%;
  }
}
*/

/*
img { display: none; }

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

main p {
  border: 1px solid red;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

main p:nth-of-type(2) {
  order: 1;
}

main p:nth-of-type(1) {
  order: 2;
  flex-grow: 2;
}

main p:nth-of-type(3) {
  order: 3;
}
*/

@keyframes prank {
  0% {
  }

  50% {
    transform: rotate(22.5deg);
  }

  75% {
    transform-origin: left top;
    transform: rotate(45deg) scale(0.5);
  }

  100% {
    opacity: 0;
    color: red;
  }
}


p:nth-of-type(1):hover {
  animation-name: prank;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
